@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.css-f5xyls-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: yellow !important;
}

.MuiPaginationItem-root {
  color: white !important;
}

.MuiPaginationItem-root.Mui-selected {
  color: rgb(255, 0, 187) !important;
}
